.send-message__panel {
  width: 100%;
  margin: 30px;
}

.send-message__input {
  border: 1px solid #aca7a7;
  border-radius: 20px;
  background-image: url(../../images/send-message-6-663814.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 95%;
  background-color: #fff;
  padding: 10px 80px 10px 25px;
  height: 30px !important;
  width: 70%;
  margin: 10px;
  resize: none;
}

.send-message__input:focus {
  outline: none;
}